<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>ZAIKOKANRI</title>

		{{{_sections.head}}}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

	    <div class="container">
			{{#if flash}}
				<div class="alert alert-dismissible alert-{{flash.type}}">
					<button type="button" class="close" 
						data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>{{flash.intro}}</strong> {{{flash.message}}}
				</div>
			{{/if}}

		    {{{body}}}

			<hr>

			<footer>
                <div>
                    <a href="javascript:void(0);" class="currency {{currencyJPY}}" id="curJpy" onclick="setCurrency('JPY')" >JPY</a> |
                    <a href="javascript:void(0);" class="currency {{currencyRMB}}" id="curRmb" onclick="setCurrency('RMB')" >RMB</a>
                    <input type="hidden" name="csrf" id="csrf" value="{{_csrfToken}}">
                </div>
				<p>&copy; benlala 2016</p>
			</footer>
	    </div> <!-- /container -->        

        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
    	{{{_sections.jquery}}}
        <script>
            function setCurrency(cur){
                if(cur === 'JPY'){
                    $('#curJpy').addClass("selected");
                    $('#curRmb').removeClass("selected");
                }else{
                    $('#curJpy').removeClass("selected");
                    $('#curRmb').addClass("selected");
                }
                var $curlab = $('.currency-label');
                $.ajax({
                    url:'/setcurrency/'+cur,
                    type:'POST',
                    data:{
                        _csrf:$('#csrf').val()
                    },
                    dataType:'json',
                    success:function(){
                        if($curlab.html()) $curlab.html($curlab.html().replace(
                            /(.*\().*(\).*)/,'$1' + cur + '$2'));
                    }, 
                    error:function(){
                        location.href='/500';
                    }
                });
            }
        </script>

        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
