<h1>Purchase</h1>
<hr>

<label for="fieldNameSearch" class="col-xs-4 col-sm-4">Goods : </label>
<input type="text" id="fieldNameSearch" name="NameSearch" placeholder="{{nameSearch}}">
<div>
	<label for="fieldDateStart" class="col-xs-4 col-sm-4">DateStart : </label>
	<input type="text" id="fieldDateStart" placeholder="{{dateStart}}">
</div>
<div>
	<label for="fieldDateEnd" class="col-xs-4 col-sm-4">DateEnd : </label>
	<input type="text" id="fieldDateEnd" placeholder="{{dateEnd}}">	
</div>
<button class="btn btn-primary btn-sm" onclick="SearchHf()">Search</button>
<hr>

<a class="btn btn-primary" href="/sire" role="button">purchase</a>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Date</td>
			<td>Goods</td>
            <td style="text-align:center">Price</td>
			<td style="text-align:center">Quantity</td>
		</tr>
	</thead>
	<tbody>
		{{#each purchases}}
			<tr>
				<td>{{purchaseDate}}</td>
                <td>{{goods}}</td>
                <td style="text-align:right">{{price}}</td>
				<td style="text-align:center">{{quantity}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#section 'jquery'}}
    <script>
        function SearchHf() {
				var now = new Date();
				var tomorrow = new Date();
    			tomorrow.setDate(tomorrow.getDate()+1);
				var dateStart = new Date($("#fieldDateStart").val());
				dateStart = isNaN(dateStart) ? now.getFullYear() + '/' + ('0' + (now.getMonth() + 1)).slice(-2) + '/01' : dateStart;
				var dateEnd = new Date($("#fieldDateEnd").val());
				dateEnd = isNaN(dateEnd) ? tomorrow.getFullYear() + '/' +  ('0' + (tomorrow.getMonth() + 1)).slice(-2) + '/' + tomorrow.getDate() : dateEnd;
				
				location.href = "/sirerireki?nameSearch="+$("#fieldNameSearch").val() + "&DateStart=" + $("#fieldDateStart").val() + "&DateEnd=" + $("#fieldDateEnd").val();
        } 
    </script>
{{/section}}
