<h1>Purchase</h1>
<hr>

<div>
	<label for="fieldDateStart" class="col-xs-4 col-sm-4">DateStart : </label>
	<input type="text" id="fieldDateStart" placeholder="{{dateStart}}">
</div>
<div>
	<label for="fieldDateEnd" class="col-xs-4 col-sm-4">DateEnd : </label>
	<input type="text" id="fieldDateEnd" placeholder="{{dateEnd}}">	
</div>
<button class="btn btn-primary btn-sm" onclick="SearchHf()">Search</button>
<hr>

<a class="btn btn-primary" href="/sire" role="button">purchase</a>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Date</td>
			<td>Goods</td>
            <td style="text-align:center">Price</td>
			<td style="text-align:center">Quantity</td>
		</tr>
	</thead>
	<tbody>
		{{#each purchases}}
			<tr onclick="doModify('{{sku}}','{{id}}')">
				<td>{{purchaseDate}}</td>
                <td>{{goods}}</td>
                <td style="text-align:right">{{price}}</td>
				<td style="text-align:center">{{quantity}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{#section 'jquery'}}
    <script>
        function SearchHf() {
				var tomorrow = new Date();
    			tomorrow.setDate(tomorrow.getDate()+1);
				var dateStart = new Date($("#fieldDateStart").val());
				dateStart = isNaN(dateStart) ? firstDate(new Date()) : dateStart;
				var dateEnd = new Date($("#fieldDateEnd").val());
				dateEnd = isNaN(dateEnd) ? dateFormat(tomorrow) : dateEnd;
				
				location.href = "/sirerireki?DateStart=" + $("#fieldDateStart").val() + "&DateEnd=" + $("#fieldDateEnd").val();
        } 
		function doModify(sku,id) {				
				location.href = "/sire?sku=" + sku + "&purchaseId=" + id;
        } 
    </script>
{{/section}}
