<h1>Stock</h1>
<hr>
{{#if categorys}}
    <select name="categorys">
        <option value="" ></option>
        {{#select categorySd}}
        {{#each categorys}}
            <option value="{{this}}" >{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
{{/if}}
<table class="table table-striped">
	<thead>
		<tr>
			<td>Goods</td>
			<td>Quantity in Jan</td>
            <td>Quantity in Chn</td>
		</tr>
	</thead>
	<tbody>
		{{#each zaikos}}
			<tr>
				<td>{{name}}</td>
                <td style="text-align:center" onclick="sire({{sku}})">{{suryoJan}}</td>
                <td style="text-align:center" onclick="syuko({{sku}})">{{suryoChn}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<hr>

<a class="btn btn-primary" href="/sire">purchase</a>

{{#section 'jquery'}}
    <script>
        $(document).ready(function(){
    
            $("select").change(function(){
                location.href="/zaikos?category="+$("select option:selected").val();
            });
        });
        function sire(sku) {
            location.href = '/sire?sku='+sku;
        }
        function syuko(sku) {
        }    
    </script>
{{/section}}
