<h1>Stock</h1>
<hr>
<div>
<label for="fieldNameSearch" >Goods : </label>
<input type="text" id="fieldNameSearch" name="NameSearch" placeholder="{{nameSearch}}">
<button class="btn btn-primary btn-sm" onclick="nameSearchf()">Search</button>
</div>
<hr>
<div>
{{#if categorys}}
    <label for="fieldcategorys">Categorys : </label>
    <select name="categorys">
        <option value="" >ALL</option>
        {{#select categorySd}}
        {{#each categorys}}
            <option value="{{.}}" >{{.}}</option>
        {{/each}}
        {{/select}}
    </select>
{{/if}}
<div>

<hr>
<table class="table table-striped">
	<thead>
		<tr>
			<td onclick="sort('name')">Goods</td>
			<td onclick="sort('-suryoJan')">Qty in Jan</td>
            <td onclick="sort('-suryoChn')">Qty in Chn</td>
            <td onclick="sort('-suryoTrans')">Qty in Trans</td>
		</tr>
	</thead>
	<tbody>
		{{#each zaikos}}
			<tr>
				<td>{{name}}</td>
                <td style="text-align:center" onclick="sire({{sku}})">{{suryoJan}}</td>
                <td style="text-align:center" onclick="syuko({{sku}})">{{suryoChn}}</td>
                <td style="text-align:center" onclick="syuko({{sku}})">{{suryoTrans}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

<hr>

{{#section 'jquery'}}
    <script>
        $(document).ready(function(){
    
            $("select").change(function(){
                location.href="/zaikos?category="+$("select option:selected").val();
            });
        });
        function sire(sku) {
            location.href = '/sire?sku='+sku;
        }
        function syuko(sku) {
        }
        function nameSearchf() {
            location.href = "/zaikos?category="+$("select option:selected").val()+"&nameSearch="+$("#fieldNameSearch").val();
        } 
        function sort(col) {
            location.href = "/zaikos?category="+$("select option:selected").val()+"&nameSearch="+$("#fieldNameSearch").val() + "&sortCol=" + col;
        }     
    </script>
{{/section}}
